@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-image: linear-gradient(90deg, #3e32a8, #e310c7 );
}



section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 2%;
  
}
.bio{
  margin: auto;
  height: 5%;
  width: 34ch;
    animation: typing 4s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
    color: black;
}

section.profile-picture{
  text-align: center;
}
section.profile-picture img{
  max-width: 220px;
  border-radius: 50%;
}

section.links{
  font-size: 200%;
  margin: auto;
  margin-top: 5%;
  max-width: 100%;
  
}
section.links a{
  max-width: 100%;
  margin:0 30px;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s;
}

.footer {
  font-size: large;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(249, 6, 201, 0);
  color: white;
  text-align: center;
}


@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

@media (max-width:756px ){

  section.profile-picture img{
    margin: auto;
    margin-top: 10%;
    max-width: 170px;
    border-radius: 50%;

  }
  section.links{
    font-size: 200%;
    margin: auto;
    margin-top: 15%;
    max-width: 100%;
    
  }

  section.links a{
    
    margin: auto;
    
  }
  .bio{
    margin: auto;
    margin-top: 7%;
    font-size: 1.5rem
    
  }
  
}

@media (max-width: 470px){

  section.profile-picture img{
    max-width: 150px;
    border-radius: 50%;
  }
  section.links{
    font-size: 180%;
    margin: auto;
    margin-top: 20%;
    max-width: 100%;
    
  }

  section.links a{
    
    margin: auto;
    
  }

  .bio{
    margin: auto;
    margin-top: 14%;
    font-size: 1.3rem;
  }

}

@media (max-width: 425px){

  section.profile-picture img{
    max-width: 150px;
    border-radius: 50%;
  }
  section.links{
    font-size: 140%;
    margin: auto;
    margin-top: 20%;
    max-width: 100%;
    
  }

  section.links a{
    
    margin: auto;
    
  }

  .bio{
    margin: auto;
    margin-top: 14%;
    font-size: 1.1rem;
  }
}
@media (max-width: 350px){

  section.profile-picture img{
    max-width: 150px;
    border-radius: 50%;
  }
  section.links{
    font-size: 130%;
    margin: auto;
    margin-top: 20%;
    max-width: 100%;
    
  }

  section.links a{
    
    margin: auto;
    
  }

  .bio{
    margin: auto;
    margin-top: 14%;
    font-size: 1rem;
  }
}
@media (max-width: 300px){

  section.profile-picture img{
    max-width: 150px;
    border-radius: 50%;
  }
  section.links{
    font-size: 120%;
    margin: auto;
    margin-top: 20%;
    max-width: 100%;
    
  }

  section.links a{
    
    margin: auto;
    
  }

  .bio{
    margin: auto;
    margin-top: 14%;
    font-size: 0.9rem;
  }
}
@media (max-width: 270px){

  section.profile-picture img{
    max-width: 150px;
    border-radius: 50%;
  }
  section.links{
    font-size: 100%;
    margin: auto;
    margin-top: 20%;
    max-width: 100%;
    
  }

  section.links a{
    
    margin: auto;
    
  }

  .bio{
    margin: auto;
    margin-top: 14%;
    font-size: x-small;
  }
}
@media (max-width: 270px){

  section.links{
    font-size:small;
    margin: auto;
    margin-top: 20%;
    max-width: 100%;
    
  }
}
@media (max-width: 174px){
  section.links{
    font-size:small;
    margin: auto;
    margin-top: 20%;
    max-width: 100%;
    
  }
}